<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.flutter.push">

    <application>
        <service
            android:name="com.huawei.hms.flutter.push.hms.FlutterHmsMessageService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".ClickNotificationActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/HmsDisablePreviewTheme">
            <intent-filter>
                <action android:name="com.huawei.push.action.CLICK_NOTIFICATION" />
                 <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
